[submodule "magi_functional"]
	path = magi_functional
	url = https://github.com/BinhPQ2/magi_functional.git
[submodule "manga-colorization-v2-custom"]
	path = manga-colorization-v2-custom
	url = https://github.com/BinhPQ2/manga-colorization-v2-custom.git
